#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#nav-logo{
background-color: white;
color: black;
padding: 0px 10px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    margin:0 10px;
}